{% extends "layout.html" %}

{% set bodyClasses = "exercise-apply-renew-passport-ming" %}

{% block pageTitle %}
  Apply online for a UK passport
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a not a real service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply online for a UK passport
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <p class="govuk-body">
        Use this service to apply for, renew, replace or update your passport and pay for it online.
      </p>

      <p class="govuk-body">
        This service is also available <a class="govuk-link" href="#">in Welsh (Cymraeg)</a>. 
      </p>

      <div class="govuk-inset-text">
        It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
      </div>

      <h2 class="govuk-heading-m govuk-!-font-size-27">How long it takes</h2>

      <p class="govuk-body">
        <a class="govuk-link" href="#">Check how long it will take to get a passport</a> before you apply.
      </p>

      <p class="govuk-body">
        If you need a passport urgently, you can <a class="govuk-link" href="#">find out more about the Online Premium or 1 week Fast Track services</a>.
      </p>

      <p class="govuk-body">
        Do not book travel until you have a valid passport - your new passport will not have the same number as your old one.
      </p>

      <h2 class="govuk-heading-m govuk-!-font-size-27">Before you start</h2>

      <p class="govuk-body">
        You’ll need a debit or credit card to use this service.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="#">It’s £9.50 cheaper</a> to apply for a passport online than by post.
      </p>

      <div class="govuk-!-padding-bottom-5">
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
      </div>

      <h2 class="govuk-heading-m govuk-!-font-size-27">Other ways to apply</h2>

      <p class="govuk-body">
        You can pick up passport application forms from your <a class="govuk-link" href="#">local Post Office</a> and apply by post, or use the <a class="govuk-link" href="#">Post Office Check and Send service</a>.
      </p>

      <p class="govuk-body">
        It takes longer to apply by post than online.
      </p>

      <h2 class="govuk-heading-s homepage__section-border--top">Explore the topic</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-body-s govuk-link" href="#">Passports</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s homepage__section-border--top">Related content</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-body-s govuk-link" href="#">Passport fees</a>
        </li>
        <li>
          <a class="govuk-body-s govuk-link" href="#">Get a passport photo</a>
        </li>
        <li>
          <a class="govuk-body-s govuk-link" href="#">Change your name or personal details on your passport</a>
        </li>
        <li>
          <a class="govuk-body-s govuk-link" href="#">Getting your first adult passport</a>
        </li>
        <li>
          <a class="govuk-body-s govuk-link" href="#">Get a passport for your child</a>
        </li>
        <li>
          <a class="govuk-body-s govuk-link" href="#">Visiting the EU, Switzerland, Norway, Iceland or Liechtenstein</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
