
{% extends "layout.html" %}

{% block pageTitle %}
  Home – dxw Prototype Library
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        dxw Prototype Library
        <span class="govuk-caption-xl">owned by dxw designers</span>
      </h1>

      <h2 class="govuk-heading-l">About this page</h2>

      <p>Just a corner for dxw designers to play around with prototyping . New ideas are always welcome.</p>

      <h2 class="govuk-heading-l" id="dpl-exercises">Exercises</h2> 

      <p class="govuk-body-m">The section contains a list of our prototyping exercises:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li><a href="exercises/apply-renew-passport">Reproducing homepage of Apply online for a UK passport</a></li>
      </ul>

      <h2 class="govuk-heading-l" id="dpl-exercises">Examples</h2> 

      <p class="govuk-body-m">The section contains a list of examples and tricks we used / learnt in our works:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body-m">
        <li>To be added</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Other information</h2>

      <h3 class="govuk-heading-m">Original examples and documentation from the GOV.UK prototyping kit</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}